*{
    font-size: 20px;
    box-sizing: border-box;
}
body{
    
    color: rgb(71, 71, 71) ;
    
    margin: 0%;
    
   
}

/* <--------------------------------CABECERA----------------------------------> */

.cabecera_principal{
    background-image: url(/img/2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-color: red; */
    border-style: solid;
    border-color: white;
    border-width: 25px;
    
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    
}
    
    
     .caja{
         /* width: 33.33%; */
         color: white;
     }
    .cabecera_menu{
        /* flex-wrap: wrap; */
        /* padding: 1%; */
        /* background-color: green; */
        /* background-color: rgb(4, 0, 255); */
        color: white;
        

    }
        .boton{
            color: white;
            /* border: none;
            color: white;
            padding: 15px 32px; 
            margin-top: 5%; 
            margin-left: 2%;
            cursor: pointer; */
            
            
        }

    .cabecera_entitulado{
        /* background-color: rgb(205, 50, 50); */
        /* flex-wrap: wrap; */
        /* background-color: rgba(255, 255, 0, 0);  */
        /* margin-left: 5%; */
        color: white;
        
        
    }
        .titulo{
            color: white;
            /* font-size: 60px; */
            
            /* flex-wrap: wrap ; */
            /* color: white; */

        }

    /* .carrito{
        

        /* background-color: rgba(255, 255, 0, 0);  
        /* background-color: yellowgreen; 
        
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        padding-right: 2%;
        padding-top: 1%;
        
        
    }
        .carrito_numero{
            
            
            display: flex ;
            justify-content: center;
            align-items: baseline;    
            /* background-color: rgb(66, 50, 50); 
            
        }
            .carrito_texto{
                color: red;
                font-family: "Lucida Console", Monaco, monospace;
                margin-right: -25%; /*margin-right: -40%; 
                z-index: 2;
                
               
            }
            .carrito_texto:hover{
                cursor: pointer;
            }
        .carrito_imagen{
            
            background-color: rgb(255, 255, 255);
            padding-top: 6%;
            padding-right: 10%;
            padding-left: 10%; /*padding-left: 20%; 
            border-radius: 12px;
            
        }
            .carrito_imagen_link{
                color: white;
                
            } 
            */


/* <--------------------------------CUERPO----------------------------------> */
.titulobox{
    width: 100%;
}
    .titulo{
        text-align: center;
        font-size: 50px;
        font: bolder;
        color: rgb(26, 18, 26);
        margin-bottom: 0;
        font-family: sans-serif;
    }
    .subtitulo{
        margin-left: 2%;
        margin-bottom: 5%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
        border-left: rgb(170, 170, 170);
        border-left-style: solid;   
        border-bottom: rgb(255, 255, 255);
        border-bottom-style: dashed;
        font-family: monospace ;
        padding-left: 1%;
    }
.contenido{
    display: flex;
    flex-flow: row;
    width: 100%;
}
.cuerpo{
    color: black;
    
    /* margin: 0%; */
    background-image: url(/img/fondo_cuerpo.png);
    width: 80%;
    background-color: #FD81FF;
    background-repeat: no-repeat;
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 25px;
    border-top-width: 0px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    /* display: flex;
    flex-wrap: nowrap;
    flex-flow: column; */
    

    
    
    
}
.faqbox{
    background-color: rgb(245, 245, 245);
    width: 100%;
    border-style: solid;
    margin-bottom: 3%;
    border-color: rgb(255, 255, 255);
    border-radius: 25px;

}
.preguntafaq{
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom-style: solid;
    text-indent: 2%;
    border-color: rgb(255, 255, 255);
    
}
    .pregunta{
        font-size: 25px;
    }
.respuestafaq{
    padding: 2%;
    font-family: "Palatino Linotype",serif;

}
.conmtendor_anuncio{
    background-color: red;
    /* width: 20%; */
}
    .anuncio{
        color: white;
    }
/* <--------------------------------FOOTER----------------------------------> */

.pie{
    
    background-color: grey;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

}
    .pie_links{
        width: 50%;
        
        
        /* background-color: red; */
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        
        justify-content: space-between;
        padding: 3%;
        padding-bottom: 2%;
        
    }
        .pie_enlace{
            /* background-color: #FD81FF; */
            font-family: Tahoma, Geneva, sans-serif;
            color: white;
            text-decoration: none;
            font-size: 30px;
        }
            .pie_enlace:hover{
                color: rgb(255, 206, 141);
            }
